In [1]:
import pandas as pd
import numpy as np

In [6]:
train1 = pd.read_csv('stat154_cleaned_ryan.csv')
train2 = pd.read_csv('train.csv')

In [3]:
train1.head()

,Unnamed: 0,X,weather.ymd,weather.md,weather.mon,temp.imp.zip,humid.imp.zip,pressure.imp.zip,visibility.imp.zip,wind.d.imp.zip,...,Description,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code
0,1,1,2018-07-20,07-20,7,75.0,66,29.90,10.0,S,...,Lane blocked due to accident on CA-134 Eastbou...,San Fernando Rd,L,Glendale,Los Angeles,CA,91203,US,US/Pacific,KBUR
1,2,2,2020-12-27,12-27,12,36.0,53,29.97,10.0,W,...,Incident on BETHLEHEM PIKE near MELE AVE Drive...,Bethlehem Pike,R,Montgomeryville,Montgomery,PA,18936-9703,US,US/Eastern,KLOM
2,3,3,2020-12-20,12-20,12,57.0,100,30.06,4.0,ENE,...,Incident on N BROAD ST near AUBRY ST Drive wit...,Dabadie St,R,New Orleans,Orleans,LA,70119,US,US/Pacific,KAUD
3,4,4,2016-09-28,09-28,9,73.4,53,29.89,10.0,S,...,At I-270/Exit 35 - Accident.,Capital Beltway W,R,Bethesda,Montgomery,MD,20814,US,US/Eastern,KCGS
4,5,5,2020-02-12,02-12,2,47.0,61,29.40,10.0,WSW,...,At OR-74/Exit 147 - Accident.,I-84 E,R,Arlington,Gilliam,OR,97812,US,US/Pacific,KHRI

In [7]:
train1.columns

Index(['Unnamed: 0', 'X', 'weather.ymd', 'weather.md', 'weather.mon',
       'temp.imp.zip', 'humid.imp.zip', 'pressure.imp.zip',
       'visibility.imp.zip', 'wind.d.imp.zip', 'wind.speed.imp.zip', 'light',
       'heavy', 'rain', 'snow', 'storm', 'windy', 'haze', 'Start_Time',
       'End_Time', 'Duration', 'Start_Lat', 'Start_Lng', 'Distance.mi',
       'Description', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code'],
      dtype='object')

In [8]:
len(train1), len(train2)

(2962779, 2962779)

In [25]:
pd.to_datetime(train['Start_Time'])[4].month

2

In [29]:
pd.Series.mode(train['Sunrise_Sunset']).iloc[0]

'Day'

In [30]:
def replace_na_sunrise_sunset(series):
    

def fill_na_sunrise_sunset(row_idx, tbl=train):
    ref_row = train.loc[:, row_idx]
    state = tbl.loc[row_idx, 'State']
    month = tbl.loc[row_idx, 'Start_Time'].month
    hr = tbl.loc[row_idx, 'Start_Time'].hour
    filtered_rows = tbl[(tbl['State'] == state) & 
                       (tbl['Start_Time'].dt.month == month) &
                       (tbl['Start_Time'].dt.hour == hr)]
    replace = pd.Series.mode(filtered_rows['Sunrise_Sunset']).iloc[0]
    return replace

fill_na_map = np.vectorize(fill_na_sunrise_sunset)

In [18]:
train_subset = train.loc[:, 'Amenity':'Astronomical_Twilight']
len(train_subset.loc[:, 'Amenity':'Turning_Loop'].dropna())/len(train_subset)

1.0

In [7]:
train_subset.dropna().shape[0]/train_subset.shape[0]

0.9999648978205934

In [14]:
na_rows = train_subset[~train_subset.notnull().all(axis=1)]

NameError: name 'train_subset' is not defined

In [ ]:
# impute based on same state, month, hour

In [18]:
na_rows

,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
987,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
59043,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
110832,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
215846,False,False,False,False,True,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
281581,False,False,False,False,False,False,False,False,False,False,False,True,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2821200,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
2860516,False,False,False,False,True,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
2916589,False,False,False,False,True,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
2928535,False,False,True,False,False,False,False,False,False,False,False,True,False,NaN,NaN,NaN,NaN
2931958,False,False,False,False,True,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN

In [16]:
na_indices = na_rows.index.values
len(na_indices)

104

In [19]:
train.drop(na_indices)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2017855,MapQuest,201.0,2,2018-07-19 20:30:23,2018-07-19 21:14:11,34.153896,-118.275482,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
1,A-3340193,Bing,NaN,2,2020-12-27 13:22:48,2020-12-27 15:02:42,40.261747,-75.250020,40.263001,-75.251072,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3274372,Bing,NaN,2,2020-12-19 20:27:52,2020-12-19 22:23:39,29.980875,-90.073829,29.981676,-90.073111,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-2782559,Bing,NaN,3,2016-09-27 17:29:27,2016-09-27 23:29:27,39.018870,-77.102890,39.019580,-77.107080,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-3722269,Bing,NaN,2,2020-02-11 19:22:00,2020-02-11 23:22:00,45.743940,-120.175670,45.743940,-120.175670,...,False,False,False,False,False,False,Night,Night,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962774,A-2142754,MapQuest,201.0,3,2018-05-22 14:32:36,2018-05-22 15:02:09,43.060840,-76.559240,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2962775,A-1042473,MapQuest,201.0,2,2019-10-07 08:26:01,2019-10-07 09:10:54,32.784410,-96.562760,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
2962776,A-3843476,Bing,NaN,2,2019-11-13 07:57:00,2019-11-13 08:30:02,44.419400,-93.292750,44.419400,-93.292750,...,False,False,False,False,False,False,Day,Day,Day,Day
2962777,A-3843901,Bing,NaN,2,2019-11-13 08:58:22,2019-11-13 09:27:27,47.253830,-122.121000,47.253830,-122.121000,...,False,False,False,False,False,False,Day,Day,Day,Day
2962778,A-1621798,MapQuest,201.0,3,2019-01-04 08:24:15,2019-01-04 08:53:41,33.580320,-84.358500,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [8]:
df_subset = train.loc[:, 'Zipcode'].to_frame()
na_rows_zip = df_subset[~df_subset.notnull().all(axis=1)]
na_rows_zip

        Zipcode
3840        NaN
15818       NaN
17761       NaN
18597       NaN
19855       NaN
...         ...
2952823     NaN
2954900     NaN
2956061     NaN
2956409     NaN
2956483     NaN

[933 rows x 1 columns]

In [9]:
na_rows_zip.index

Int64Index([   3840,   15818,   17761,   18597,   19855,   30030,   32594,
              34473,   34564,   36594,
            ...
            2938819, 2938890, 2940959, 2942282, 2951395, 2952823, 2954900,
            2956061, 2956409, 2956483],
           dtype='int64', length=933)